@model MeyawoPortfolio.Models.TblAbout

@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Yeni Hakkımda Bilgi Girişi</h2>

<form method="post">

    <label>Hakkımda Etiketi</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
    <br />
    <label>Hakkımda Başlık</label>
    @Html.TextBoxFor(x => x.Header, new { @class = "table table-bordered" })
    <br />
    <label>Hakkımda Açıklama</label>
    <textarea rows="5" class="table table-bordered" name="Description"></textarea>
    <br />
    <label>Hakkımda ImageUrl</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
    <br />
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>