@model MeyawoPortfolio.Models.TblContact

@{
    ViewBag.Title = "OpenMessage";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Mesaj Görüntüleme Sayfası</h2>

<p>
    @Model.Message
</p>
<br />
<a href="/Contact/Index/" class="btn btn-danger">Geri Dön</a>